[2022-03-26 04:54] Cmahjong opened #1 "Caused by: net.sqlcipher.database.SQLiteException: file is not a database: , while compiling: select count(*) from sqlite_master;"
Caused by: net.sqlcipher.database.SQLiteException: file is not a database: , while compiling: select count(*) from sqlite_master;
        at net.sqlcipher.database.SQLiteCompiledSql.native_compile(Native Method)
        at net.sqlcipher.database.SQLiteCompiledSql.compile(SQLiteCompiledSql.java:91)
        at net.sqlcipher.database.SQLiteCompiledSql.<init>(SQLiteCompiledSql.java:64)
        at net.

[2022-03-28 08:51] DanLongChen commented on #1
May I ask what Android device you are using when this problem occurs? Have you used our sdk sample?

[2022-03-28 09:26] x-mark opened #2 "application register error"
[Mobile-SDK-Android-V5](https://github.com/dji-sdk/Mobile-SDK-Android-V5)/[SampleCode-V5](https://github.com/dji-sdk/Mobile-SDK-Android-V5/tree/dev-sdk-main/SampleCode-V5)/[android-sdk-v5-sample](https://github.com/dji-sdk/Mobile-SDK-Android-V5/tree/dev-sdk-main/SampleCode-V5/android-sdk-v5-sample)/[app-aircraft](https://github.com/dji-sdk/Mobile-SDK-Android-V5/tree/dev-sdk-main/SampleCode-V5/andr

[2022-03-28 09:27] #2 closed, assigned to nobody

[2022-03-31 01:50] Cmahjong commented on #1
yes , Android device,look your sdk sample impoded 5.0.0_beta1,then occurs this problem

[2022-04-14 18:43] nedaalizadeh opened #3 "WebRTC support"
Hello,

I developed an application using MSDK v4.16. For live video stream, the MSDK uses RTMP protocol which has latency.
Does MSDK v5 support WebRTC for live video streaming?

Thanks

[2022-04-15 13:15] dji-dev commented on #3
we will support it on 5.0.0-beta2

[2022-04-15 13:22] Hoker- commented on #3
we will support it on 5.0.0-beta2

[2022-04-15 13:24] nedaalizadeh commented on #3
What is the release date of MSDK 5.0.0-beta2?

[2022-04-15 18:01] nedaalizadeh commented on #3
As I noticed on Github, MSDK 5.0.0-beta2 released today. I checked video type for live streaming. The types are: UNKNOWN, RTMP, RTSP, GB28181, AGORA. Still no WebRTC? Am I correct?

[2022-04-17 04:51] john-davis-2000 commented on #3
i checked sample code on release beta2 but webrtc was not  for video live streaming.

[2022-04-18 03:21] Michael-DJI commented on #3
AGORA  type is WebRTC based

[2022-04-19 03:33] DanLongChen commented on #3
agora is based on WebRTC, see details（https://www.agora.io/cn）

[2022-04-22 06:31] DJI-William commented on #1
We cannot reproduce your issue. Coud you please
1. Try the current Sample. We have updated it already.
2. Please tell use your Android device model and version.

[2022-04-22 06:32] DJI-William commented on #3
beta 2 is now released, please update your sample now.

[2022-04-23 12:53] Cmahjong opened #6 "how build this project"
how build this project

[2022-04-23 12:54] #6 closed, assigned to nobody

[2022-04-27 11:37] Swordce opened #7 "这项目要怎么运行。。"

[2022-04-28 12:14] #7 closed, assigned to nobody

[2022-04-28 12:16] Swordce opened #8 "rtmp推流花屏"
运行demo后使用rtmp进行推流，遥控器和推流画面都存在花屏，是因为现在是beta版本没有开发好吗

[2022-04-29 09:45] Michael-DJI commented on #8
你好，请问你是基于哪款机型测试的？

[2022-04-29 09:45] #3 closed, assigned to nobody

[2022-04-29 10:09] Swordce commented on #8
M300

[2022-05-05 02:39] Swordce commented on #8
而且在M300上推流的时候，也会出现crash的情况

[2022-05-17 23:22] bbenson09 opened #9 "How to get info from laser rangefinder on Zenmuse H20?"
Is there an equivalent to `LaserMeasureInformation` (from MSDK 4.16) in MSDK 5.0? I'm trying to get the target distance.

[2022-05-18 07:27] Swordce commented on #8
推流的问题请问有复现修复吗

[2022-06-06 03:14] Michael-DJI commented on #8
@Swordce MSDK V5版本目前只适配了M30，还没有适配好M300，不过您现在遇到的问题我们可以尝试复现下，请问您是直接安装在M300的带屏控上测试的吗？复现概率是100%吗？我们已经发布了最新的Beta3版本，您也可以尝试在用下最新版本，谢谢

[2022-06-06 03:17] Swordce commented on #8
好的，我是直接在带屏控上使用的，复现的概率比较高

[2022-06-07 07:43] bortenchung opened #12 "Crash after call SDKManager.getInstance().init()"
NOTICE :  replace application's packageName  with XXXX in the crash log below
___________
2022-06-07 15:13:45.890 10428-10428/XXXX E/linker: "/data/app/XXXX-NB-mKMI5KEYSyKpB1HZbYA==/lib/arm64/libconstants.so" .dynamic section has invalid offset: 0xbae0, expected to match PT_DYNAMIC offset: 0x0
2022-06-07 15:13:45.891 10428-10428/XXXX E/XXXX: No implementation found for java.util.Map dji.v5.utils.i

[2022-06-08 06:17] bortenchung commented on #12
Solved by add
packagingOptions {
        doNotStrip "*/*/libdjivideo.so"
        doNotStrip "*/*/libSDKRelativeJNI.so"
        doNotStrip "*/*/libFlyForbid.so"
        doNotStrip "*/*/libduml_vision_bokeh.so"
        doNotStrip "*/*/libyuv2.so"
        doNotStrip "*/*/libGroudStation.so"
        doNotStrip "*/*/libFRCorkscrew.so"
        doNotStrip "*/*/libUpgradeVerify.so"
        doNotStrip "*/*

[2022-06-08 06:17] #12 closed, assigned to nobody

[2022-06-08 06:53] Hoker- commented on #9
use CameraKey.KeyLaserMeasureInformation

[2022-06-13 12:22] #9 closed, assigned to nobody

[2022-06-24 17:15] petered opened #13 "Cannot get video with Mini2 (but I can in v4 SDK)"
As the title says,

I have a Mini 2, I have built the `android-idk-v5-as` app, launched it on my Android phone, successfully registered, and connected to the drone.  I know I'm connected to the drone because when I click "Default Layout" I see the roll/pitch/yaw numbers changing when I move the drone around.

But I cannot get any video stream - it just shows black background.  When I go `Testing T

[2022-06-29 07:27] OKSHIJIAN opened #14 "DJI FPV SDK"
DJI FPV SDK. Please, I really need it

[2022-06-30 11:34] Hoker- commented on #13
V5 SDK dont not support mini2 yet.

[2022-06-30 11:35] Hoker- commented on #14
sorry, we have no plans to support this model yet.

[2022-06-30 15:35] petered commented on #13
Thank you @Hoker- , is it planned for the future?

[2022-07-05 02:51] Swordce opened #15 "MapWidget无法使用"

[2022-07-05 11:51] dji-dev commented on #15
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/67155'>Zendesk ticket #67155</a>:<br><br>sample中的Mapwidget被注释掉，应该是还存在问题。如果想要体验地图功能可以先参考航线部分，也就是WayPointV3Fragment。
<br><p><em><small>°°°</small></em></p>

[2022-07-11 04:16] ccccwb commented on #7
请问是要运行哪个

[2022-07-14 02:11] Swordce commented on #7
运行android-sdk-v5-as

[2022-07-14 22:52] eric-dk opened #16 "Missing stream sources after rebooting aircraft"
Steps-to-reproduce:
1. Launch `sample-app-aircraft`
2. Turn on Matrice 30 or 30T
3. Tap *Testing Tools*
4. Tap *Multi-Video Decoding*
5. Reboot aircraft while leaving app open

Expected:
Video feed(s) reconnect and resume.

Actual:
On first connection, the following returns at least one `StreamSource`.
[code]
After rebooting the aircraft, this list is always empty.

[2022-07-14 22:52] eric-dk opened #17 "M30T thermal spot returns an error"
Steps-to-reproduce:
With the correct `ComponentIndexType` and `CameraLensType.CAMERA_LENS_THERMAL` use `CameraKey.KeySpotMeteringTargetPoint.set(…)` with `IntPoint2D` where [*x* is 0…12](https://github.com/dji-sdk/Mobile-SDK-Android-V5/blob/dev-sdk-main/SampleCode-V5/android-sdk-v5-uxsdk/src/main/java/dji/v5/ux/cameracore/widget/fpvinteraction/FPVInteractionWidgetModel.java#L65) and [*y* is 0…8](h

[2022-07-14 22:52] eric-dk opened #18 "M30T thermal region returns an error"
Steps-to-reproduce:
With the correct `ComponentIndexType` and `CameraLensType.CAMERA_LENS_THERMAL` use `CameraKey.KeyThermalRegionMetersureArea.set(…)` with `DoublePoint2D` where *x*, *y*, *width*, *height* are 0…1.

Expected:
Camera restricts thermal measuring region.

Actual:
`CameraKey.KeyThermalAreaTemperatureAggregations.listen(…)` still returns points outside of the specified region.
[code]

[2022-07-14 22:52] eric-dk opened #19 "M30T FFC returns an error"
Steps-to-reproduce:
With the correct `ComponentIndexType` and `CameraLensType.CAMERA_LENS_THERMAL` use `CameraKey.KeyThermalTriggerFFC.action(…)`.

Expected:
Camera performs flat-field correction with audible click.

Actual:
[code]

[2022-07-14 22:52] eric-dk opened #20 "M30T thermal digital zoom is stuck at 2×"
Steps-to-reproduce:
With the correct `ComponentIndexType` and `CameraLensType.CAMERA_LENS_THERMAL` use `CameraKey.KeyThermalDigitalZoomFactor.set(…)` with `ThermalDigitalZoomFactor` other than `FACTOR_X2`.

Expected:
IR camera zooms in or out.

Actual:
There is no error with other `ThermalDigitalZoomFactor` but the camera does not zoom at all. Perhaps this is due to the fact that the M30T zoom lev

[2022-07-15 04:43] DJI-William commented on #16
Reproducible, I will raise an internal ticket for the dev team.

[2022-07-15 06:38] DJI-William commented on #17
CameraLensType.CAMERA_LENS_THERMAL is not corresponded with CameraKey.KeySpotMeteringTargetPoint. The KeySpotMeteringTargetPoint does not mean measuring thermal spot. You should use KeyThermalTemperatureMeasureMode first to set the thermal measurement mode to Spot and then call KeyThermalSpotMetersurePoint to measure the temperature at a specific spot.
![image](https://user-images.githubuserconten

[2022-07-15 06:43] DJI-William commented on #18
First of all you should call KeyThermalTemperatureMeasureMode to set the thermal measurement mode as REGION. Then call KeyThermalRegionMetersureArea to set the region. Lastly, listen the KeyThermalRegionMetersureTemperature for returned result.
![image](https://user-images.githubusercontent.com/77274755/179167730-4436a4a5-3e7a-426a-96d6-11c9f1005a09.png)

[2022-07-15 06:49] DJI-William commented on #19
Have you set the KeyCameraVideoStreamSource as INFRARED_CAMERA firstly?
![image](https://user-images.githubusercontent.com/77274755/179167621-1825e9c8-854a-4053-98c2-baf74e235092.png)

[2022-07-15 06:59] DJI-William commented on #20
Please use KeyThermalZoomRatios instead of ThermalDigitalZoomFactor.
![image](https://user-images.githubusercontent.com/77274755/179169365-5f9c60e4-6662-4da8-947f-7bfcb977fbac.png)

[2022-07-15 07:01] DJI-William commented on #8
外出测试发现M30直播推流效果很好，M300直播推流的时候遥控器上画面正常，推流网页端发现飞行器起飞的时候画面模糊、马赛克，需要优化。

[2022-07-15 07:04] DJI-William commented on #13
There is no plan to support any old models in the future, please read this article, [Chapter 1 - Hello, MSDK V5!](https://sdk-forum.dji.net/hc/en-us/articles/5976502476441-Chapter-1-Hello-MSDK-V5-?source=search&auth_token=eyJhbGciOiJIUzI1NiJ9.eyJhY2NvdW50X2lkIjo5Nzg4MTcsInVzZXJfaWQiOjg0OTA5OTg4NDA2MDEsInRpY2tldF9pZCI6Njc2ODIsImNoYW5uZWxfaWQiOjYzLCJ0eXBlIjoiU0VBUkNIIiwiZXhwIjoxNjYwNDU5NTM3fQ.yItOmE

[2022-07-15 07:04] #13 closed, assigned to DJI-William

[2022-07-15 07:05] DJI-William commented on #14
There is no plan to support any old models in the future, please read this article, [Chapter 1 - Hello, MSDK V5!](https://sdk-forum.dji.net/hc/en-us/articles/5976502476441-Chapter-1-Hello-MSDK-V5-?source=search&auth_token=eyJhbGciOiJIUzI1NiJ9.eyJhY2NvdW50X2lkIjo5Nzg4MTcsInVzZXJfaWQiOjg0OTA5OTg4NDA2MDEsInRpY2tldF9pZCI6Njc2ODIsImNoYW5uZWxfaWQiOjYzLCJ0eXBlIjoiU0VBUkNIIiwiZXhwIjoxNjYwNDU5NTM3fQ.yItOmE

[2022-07-15 07:05] #14 closed, assigned to DJI-William

[2022-07-15 07:07] DJI-William commented on #15
后续MapWidget会更新，更新后就会取消注释，预计8月底支持。

[2022-07-15 07:47] Swordce commented on #8
大概会在什么时候会发版本优化这个问题

[2022-07-15 08:52] DJI-William commented on #8
下个Sprint会尝试优化，下个版本发布预计8月底。

[2022-07-15 14:09] petered commented on #13
Thank you for your response.  The article says it will support the mavic 3
series around the end of August. Does the Mavic 3 Series include the Mini3
(Which seems to sometimes be called mavic mini 3)?

On Fri, Jul 15, 2022, 1:04 AM DJI-William ***@***.***> wrote:

[2022-07-15 16:37] eric-dk commented on #17
Doh! Thanks.

[2022-07-15 16:37] #17 closed, assigned to DJI-William

[2022-07-15 16:38] eric-dk commented on #19
All prerequisites done; same error.

[2022-07-15 16:38] eric-dk commented on #18
All prerequisites done; same error.

[2022-07-15 17:26] eric-dk commented on #20
Thanks!

[2022-07-15 17:26] #20 closed, assigned to DJI-William

[2022-07-17 00:04] brizey opened #22 "V5 FPVWidget"
app:uxsdk_sourceCameraSideVisibility="false" does not set according to property. Side is always displayed.

[2022-07-18 02:36] DJI-William commented on #13
It does not include Mini 3 Pro, actually the SDK will focus on Enterprise level products in the future. The consumer level products such as Mini 3 Pro will have the lowest priority in terms of SDK support. I am sure it won't happen this year, maybe next year.

[2022-07-18 03:16] DJI-William commented on #18
Please have a look my testing video and it works. But I found the key is different witht the api doc, I will discuss with the product manager.
Link：https://pan-sec.djicorp.com/s/QDkHTQt85f5tdnE
dji123

[2022-07-18 03:16] DJI-William commented on #19
Please have a look my testing video and it works.
Link：https://pan-sec.djicorp.com/s/QDkHTQt85f5tdnE
dji123

[2022-07-18 03:26] DJI-William commented on #18
Sorry my bad, I was using Beta3 demo, the official 5.0.0 is released and the key is rename to KeyThermalRegionMetersureTemperature and AREAt to REGION. It should work.

[2022-07-18 09:51] dji-dev commented on #22
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/67767'>Zendesk ticket #67767</a>:<br><br>You can try to modify FPVWidget_uxsdk_sourceCameraNameVisibility to false, because according to the logic below, the change of SourceCameraSideVisibility does not affect the implementation of the screen.
 ![](https://djisdksupport.zendesk.com/attachments/token/IiKc8cu

[2022-08-01 12:50] ghost opened #23 "How to build ?"
Hi,

I've download the project and opened it in android studio but, why is there so many androidManifest and what I'm supposed to do from here ?

![image](https://user-images.githubusercontent.com/85866455/182151563-02e4c21a-f0ca-4b5e-9c9d-d880487daa34.png)

Thanks

[2022-08-02 03:13] DJI-William commented on #23
Please read this artcle [Chapter 2 - The Sample](https://sdk-forum.dji.net/hc/en-us/articles/5983558993433-Chapter-2-The-Sample), this project contains 3 app. So there are 3 Manifests, you can jsut stick to the ALL project, it means it contains both aircraft and handheld products functionalities.

[2022-08-03 08:20] The-WindRises opened #24 "构建失败，SAFEROOM_MAVEN 仓库地址需要更改为 http://repo.commonsware.com"

[2022-08-03 10:52] DJI-William commented on #24
具体问题是什么呢？能否详细说明一下。

[2022-08-03 12:16] MichHighlander opened #25 "Creating a project with MSDK V4.16.1 and MSDK V5"
After i resolve all the conflicts i am left with:
Duplicate class com.secneo.sdk.Helper found in modules dji-sdk-v5-all-5.0.0-runtime.jar (com.dji:dji-sdk-v5-all:5.0.0) and jetified-dji-sdk-4.16.1-runtime.jar (com.dji:dji-sdk:4.16.1)

how do i fix that?

[2022-08-03 14:43] eric-dk commented on #1
Steps-to-reproduce:
1. Set up empty project that successfully registers [DJI V4 MSDK](https://github.com/dji-sdk/Mobile-SDK-Android)
1. Launch app onto any Android device
1. Upgrade said project to [DJI V5 MSDK](https://github.com/dji-sdk/Mobile-SDK-Android-V5)
1. Launch app onto said Android device without uninstalling first

Expected:
- App launches and successfully registers DJI V5 MSDK

Actual

[2022-08-04 02:29] DJI-William commented on #1
Much appreciated, I will infor mthe dev team about this issue.

[2022-08-04 03:15] DJI-William commented on #25
The mSDK 4.16.1 and MSDK v5 cannot exist together, which means you have to re-write a new app if you already have a v4 app. Please read this article, [Chapter 1 - Hello, MSDK V5!](https://sdk-forum.dji.net/hc/en-us/articles/5976502476441-Chapter-1-Hello-MSDK-V5-)

[2022-08-04 03:16] dji-dev commented on #25
Agent comment from William Wong in <a href='https://djisdksupport.zendesk.com/agent/tickets/68688'>Zendesk ticket #68688</a>:<br><br>Chapter 1 - Hello, MSDK V5!
<br><p><em><small>°°°</small></em></p>

[2022-08-04 06:10] MichHighlander commented on #25
Is it possible to do something about it? i think it would help a good sum of developers

[2022-08-04 09:54] DJI-William commented on #25
No, their base structure is the same, v5 is refactored by v4.

[2022-08-07 11:26] anthnyprschka opened #26 "Plugin with id 'com.android.application' not found."
When I open app-all in Android Studio i get this build error:
[code]

[2022-08-08 09:03] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>You can read this article to find out how to import samples：Chapter 2 - The Sample  Once you have successfully imported the entire project, you should have no problems opening app-all again.
<br><p><em><small>°°°</small></em></p>

[2022-08-08 10:32] #25 closed, assigned to DJI-William

[2022-08-08 10:36] MichHighlander opened #27 "Replacement for getFlightController().sendVirtualStickFlightControlData()"
Is there a replacement for getFlightController().sendVirtualStickFlightControlData() from MSDK v4?
I know that there is VirtualStickManager.getLeftStick(). setVerticalPosition() but i see the values are not in m/s but are from -660 to 660.

[2022-08-08 11:36] anthnyprschka commented on #26
Hi @dji-dev thanks for your reply. Getting this when opening your link:

![image](https://user-images.githubusercontent.com/9882602/183409399-5c9a07f4-7709-4630-bf89-18bca144ef0a.png)

[2022-08-09 02:16] DJI-William commented on #1
@Cmahjong and @eric-dk , we have fixed this issue, wait until 5.1 release.

[2022-08-09 02:16] #1 closed, assigned to DJI-William

[2022-08-09 02:55] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>You could try this link below.
https://sdk-forum.dji.net/hc/en-us/articles/5983558993433-Chapter-2-The-Sample?source=search&auth_token=eyJhbGciOiJIUzI1NiJ9.eyJhY2NvdW50X2lkIjo5Nzg4MTcsInVzZXJfaWQiOjkyNTQ3NTAzNDQ0NzMsInRpY2tldF9pZCI6Njg4MzYsImNoYW5uZWxfaWQiOjYzLCJ0eXBl

[2022-08-09 03:57] DJI-William commented on #27
Yes, please have a read this article, [Chapter 6: The virtual stick](https://sdk-forum.dji.net/hc/en-us/articles/8697869415577-Chapter-6-The-virtual-stick).

[2022-08-09 19:46] anthnyprschka commented on #26
I'm honestly disappointed by Android development onboarding experience -I cannot build simple sample project without running into all sorts of errors with absolutely no Google results. No one has ever seemed to have my issues before

[2022-08-09 19:47] anthnyprschka commented on #26
If I open android-sdk-v5-as I get
[code]

[2022-08-10 06:44] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>You seem to have modified the gradle and Android gradle tool versions of the sample. Have you tried sample's original gradle configuration? gradle version is 6.7.1 and gradle tool version is 4.2.2.
You can make the gradle version changes at the location on the diagram

[2022-08-10 17:08] anthnyprschka commented on #26
Thanks, when I open it I get the following:
![image](https://user-images.githubusercontent.com/9882602/183974168-2c59cbf7-7205-4ead-b5cd-dcce54fe962d.png)

It's the version numbers you mentioned, I didn't change anything

[2022-08-11 04:06] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>Have you downloaded and configured them?
Because the log you uploaded earlier shows com.android.tools.build:gradle:7.1.0, but the build.gradle under android-sdk-v5-as describes com.android.tools.build:gradle:4.2.2.

The gradle version can be modified in the places mar

[2022-08-11 06:13] anthnyprschka commented on #26
When I click "Sync Project with Gradle Files" I get the same errors

[2022-08-11 07:16] DJI-William commented on #16
This issue is fixed, wait until MSDK 5.1 version at the end of this month.

[2022-08-11 07:16] #16 closed, assigned to DanLongChen

[2022-08-11 11:23] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>How did you import the project? Did you click OPEN on the home page, select the android-sdk-v5-as folder, and then click OK?
 ![](https://djisdksupport.zendesk.com/attachments/token/YInepOthy4wqwYwkazVUiD0xe/?name=image.png)<br><a href='https://djisdksupport.zendesk.c

[2022-08-11 13:48] anthnyprschka commented on #26
@dji-dev correct

[2022-08-12 09:04] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>I gave your logs to our engineer for analysis and he came up with the same result as I did, that the gradle version was causing the error.The MSDK does not currently support com.android.tools.build:gradle:7.1.0.
You might want to consider clearing the project cache an

[2022-08-12 10:28] anthnyprschka commented on #26
Yeah for some reason it uses gradle 7.1.0 even though I select the right version in the project structure

[2022-08-12 14:16] anthnyprschka commented on #26
No luck even if I manually set gradle location:

![image](https://user-images.githubusercontent.com/9882602/184372330-82bc7a2f-0830-46aa-91df-79259781b17d.png)

[2022-08-12 15:49] anthnyprschka commented on #26
FYI I created this: https://stackoverflow.com/questions/73336320/android-studio-gradle-wrong-version-during-build

[2022-08-13 04:49] anthnyprschka commented on #26
Invalidating cache also didn't help

[2022-08-15 03:26] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>Perhaps you could try using the following combination to see if the project compiles successfully.
 ![](https://djisdksupport.zendesk.com/attachments/token/shpRgg1klPxgbbS4pLFz0Wnua/?name=image.png)<br><a href='https://djisdksupport.zendesk.com/attachments/token/shpRg

[2022-08-15 12:50] anthnyprschka commented on #26
Then I get this error (I think it's the same):

[code]

[2022-08-16 08:24] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>I assume this is not a problem caused by sample, you might have a try at reinstalling Android studio or contacting Android studio support for help.
<br><p><em><small>°°°</small></em></p>

[2022-08-16 09:50] anthnyprschka commented on #26
Thanks created this: https://issuetracker.google.com/u/1/issues/242570958

[2022-08-16 09:50] anthnyprschka commented on #26
FYI also running into some issues with https://github.com/dji-sdk/Mobile-SDK-Android

[2022-08-16 10:40] anthnyprschka commented on #26
Nvm old version of mobile sdk android i got to run

[2022-08-17 02:56] dji-dev commented on #26
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/68836'>Zendesk ticket #68836</a>:<br><br>https://github.com/dji-sdk/Mobile-SDK-Android
This address holds the sample code for MSDK V4, which is not compatible with V5. What model do you want to support? If it is the M30 series, then only V5 can be used.
<br><p><em><small>°°°</small></em></p>

[2022-08-17 05:40] yand9807 opened #28 "v5是否有支持AirSense"
DJI AirSense system在v5版本的sdk中是暂时还没支持吗？

[2022-08-17 06:53] DJI-William commented on #28
目前API文档上还没上，应该可以用的，是FlightControllerKey.KeyAirSenseSystemInformation。

[2022-08-17 06:53] #28 closed, assigned to DJI-William

[2022-08-29 03:50] The-WindRises opened #30 "uxsdk 部分组件显示无效"
RadarWidget、GridLineView引入不显示、FPVWidget的uxsdk_videoChannelType选择primaryStreamChannel不显示

[2022-08-29 09:56] dji-dev commented on #30
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69844'>Zendesk ticket #69844</a>:<br><br>你用sample可以正常显示RadarWidget、GridLineView吗？
FPVWidget的uxsdk_videoChannelType选择primaryStreamChannel不显示？ -- 您有确定主视频通道是打开的吗？
<br><p><em><small>°°°</small></em></p>

[2022-08-29 10:43] The-WindRises commented on #30
主视频通道打开是那句代码？

[2022-08-30 03:31] dji-dev commented on #30
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69844'>Zendesk ticket #69844</a>:<br><br>可以参考官网的教程打开视频通道：https://developer.dji.com/doc/mobile-sdk-tutorial/cn/tutorials/video-stream.html#%E6%8E%A5%E5%8F%A3%E8%B0%83%E7%94%A8%E6%B5%81%E7%A8%8B

FPV默认使用的是主视频通道，你打开主视频通道看看
<br><p><em><small>°°°</small></em></p>

[2022-08-30 06:18] GQ105501 opened #31 "FPVWidget 下推流失败"
示例中提示【在当前页面必须得有Surface画面渲染】，但是我看了源码  在FPVWidget 创建的时候同时也创建了surface，因为在FPVWidget.kt类中存在surfaceCreated方法和surfaceChanged方法，那么在FPVWidget 组件存在的界面中，即使在界面中添加SurfaceView控件也是可以正常直播的，但是我的直播一直是开启失败。下面是开启失败后的报错信息，我有点看不懂是什么意思。
【can't find dl_node by prot_name dji,rtmp
can't find dl_handle_node in lib handle list】

[2022-08-30 11:30] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>你是执行到哪个部分提示的报错呢？FPVWidget的videoDecoder里是没有开启推流选项的，你可以参考这篇问题添加上：第五章：视频流解码
<br><p><em><small>°°°</small></em></p>

[2022-08-30 12:33] GQ105501 commented on #31
我是在DefaultLayoutActivity.java文件中添加了直播功能；
添加了一个按钮，通过点击按钮执行开启直播的方法，虽然直播开启后执行到了success方法，但是成功之后的 isStreaming为false，而且流没有接收到；
【FPVWidget的videoDecoder里是没有开启推流选项的】这个我没有理解是什么意思？
因为在V4版本的SDK中  我也是在飞行界面中去做直播开启的功能，而且可以正常进行直播推流；

[2022-08-30 12:38] The-WindRises opened #32 "刚刚进入dji pilot2升级所有固件，然后该项目demo不能拍照了"

[2022-08-31 02:50] DJI-William commented on #32
是不是拍照模式有问题，检查一下是否在单拍模式。

[2022-08-31 02:52] DJI-William commented on #8
9月发布的5.1版本会优化这个问题，但是如果app安装在遥控器上还是有花屏，如果外接手机则画面良好，是遥控器本身的问题。M30系列无此问题。

[2022-08-31 02:52] DJI-William commented on #18
@eric-dk is the problem solved in 5.0 version?

[2022-08-31 02:53] DJI-William commented on #19
@eric-dk Is the problem solved in 5.0 version?

[2022-08-31 02:53] #22 closed, assigned to nobody

[2022-08-31 02:53] #23 closed, assigned to DJI-William

[2022-08-31 02:53] #24 closed, assigned to DJI-William

[2022-08-31 02:54] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>VideoDecoder有一个参数isForLiveStream，这个参数表示是否支持推流。实现推流前，需要在构造VideoDecoder的时候将这个参数设置为true，不然拿不到是视频流。
具体可以看这篇文章：第五章：视频流解码 然后再参考直播流程完成直播：第六章：推流直播
<br><p><em><small>°°°</small></em></p>

[2022-08-31 02:54] #26 closed, assigned to nobody

[2022-08-31 02:55] #27 closed, assigned to DJI-William

[2022-08-31 02:55] The-WindRises commented on #32
m300 rtk 搭配h20相机，升级所有固件后dji pilot2可以拍照，demo点击拍照组件无反应

[2022-08-31 02:57] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>文章链接：第五章：视频流解码 - https://sdk-forum.dji.net/hc/zh-cn/articles/6663343101337
第六章：推流直播 - https://sdk-forum.dji.net/hc/zh-cn/articles/6663305630105
<br><p><em><small>°°°</small></em></p>

[2022-08-31 03:26] GQ105501 commented on #31
好的  我试试看

[2022-08-31 07:33] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>sample可以正常直播的话，那么接口上就是没有问题的。如果还存在问题可以继续咨询。
<br><p><em><small>°°°</small></em></p>

[2022-09-01 02:36] GQ105501 commented on #31
额  我这边在官方示例已经推流成功了   但是在自己的代码中  使用同样的方法   开启直播时就onFailure了 并且提示【直播开启失败】，然后  我看了还有RTMP的报错 【com.example.hhch_dji_inspection E/LOG_JNI: [MRTC-E find_dl_handle_node_by_prot_name:   70]: : can't find dl_node by prot_name dji,rtmp】
这能看看是什么问题嘛

[2022-09-01 03:45] Needrom opened #33 "Crash on registerApp()"
### Env
1. OPPO K5
2. Android 10 API 29

### problem
when I build the app through tutorials from the https://developer.dji.com/doc/mobile-sdk-tutorial/en/quick-start/user-project-caution.html#modify-the-androidmanifest-xml-file

### logcat
[code]

[2022-09-01 06:32] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>你再次测试推流的时候有按照文章中的说明修改FPVWidget上videoDecoder的构建方法吗？也就是添加上isForLiveStream。
 ![](https://djisdksupport.zendesk.com/attachments/token/1iZzoWjQqyYkq6DvDuOu4HlUP/?name=image.png)<br><a href='https://djisdksupport.zendesk.com/attachments/token/1iZzoWjQqyYkq6DvDuOu4HlUP' targ

[2022-09-01 06:42] GQ105501 commented on #31
已经修改过了，sample项目里面的，android-sdk-v5-uxsdk下的DefaultLayoutActivity.java中添加直播功能是可以正常使用的，但是同样的代码在我自己的工程里面就不能使用。直播一直是失败；
![微信截图_20220901143803](https://user-images.githubusercontent.com/40254744/187848372-4a93e3dd-870b-4beb-8563-5dec610bb937.png)
![微信截图_20220901143812](https://user-images.githubusercontent.com/40254744/187848379-15b87241-67f8-4f6d-beaa-92035db3ba95.png)

[2022-09-01 07:27] #33 closed, assigned to nobody

[2022-09-01 09:51] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>你可以对比sample修改，我们不了解你自己的工程所以没办法提供精准的解决方案。需要注意的是直播推流是需要当前有画面显示的，没有就会导致失败。
<br><p><em><small>°°°</small></em></p>

[2022-09-01 09:54] GQ105501 commented on #31
好的  我再研究研究

[2022-09-01 10:46] DJI-William commented on #32
可以复现，已经提单。

[2022-09-02 01:56] Needrom opened #34 "java.lang.ClassNotFoundException"
### Problem
[code]

### Device
- OPPO K5

### Android API
- Android 29

###  Gradle Version
- Android Gradle Plugin Version: 4.2.2
- Gradle Version 7.3.3

[2022-09-02 02:43] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>好的，如果定位到是MSDK发生了错误，要麻烦你告诉我们复现路径，确认问题之后我们会转交给研发人员排期处理。
<br><p><em><small>°°°</small></em></p>

[2022-09-02 03:17] DJI-William commented on #34
Is our MSDK V5 Sample instantly crashed when open it on OPPO K5?

[2022-09-02 04:40] GQ105501 commented on #31
问题已经找到   可以正常进行推流。 感谢解答~
麻烦问一下，地图的mapweight组件什么时候可以正常使用？

[2022-09-02 05:35] Needrom commented on #34
Nope, this is the developer tutorial result which I forgot to add the proguard-rules.Already fixed now.

[2022-09-02 05:35] #34 closed, assigned to nobody

[2022-09-02 08:45] Needrom opened #35 "E/DJIV5_SDKManager@b2abc12: (initNetwork:4) initNetwork error. dji.v5.network.DJINetworkImp"
### Problem
- Follow the turtorial from https://developer.dji.com/doc/mobile-sdk-tutorial/en/quick-start/user-project-caution.html#modify-the-androidmanifest-xml-file. I got this.

### Logcat
[code]

it seem like the network package  here ```E/DJIV5_SDKManager@b2abc12: (initNetwork:4) initNetwork error. dji.v5.network.DJINetworkImp ```  is not working.

### Environment
- Android  11

[2022-09-02 08:47] dji-dev commented on #31
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69927'>Zendesk ticket #69927</a>:<br><br>地图控件目前还不清楚是在哪个版本，但是sample已经上传的widget后面会完善的。
<br><p><em><small>°°°</small></em></p>

[2022-09-02 09:08] DJI-William commented on #35
Does your cell phone have a proper network?

[2022-09-02 09:11] Needrom commented on #35
Yes.with wifi connected. network is workable on the browser.

[2022-09-02 09:15] DJI-William commented on #35
What happens if you follow this guide, [Chapter 3: Intergrate the SDK into your project](https://sdk-forum.dji.net/hc/en-us/articles/9168348360345-Chapter-3-Intergrate-the-SDK-into-your-project).
implementation "com.dji:dji-sdk-v5-aircraft:5.0.0"
implementation "com.dji:dji-sdk-v5-networkImp:5.0.0"
compileOnly "com.dji:dji-sdk-v5-aircraft-provided:5.0.0"

[2022-09-02 09:19] Needrom commented on #35
it will cause the output with

[code]

most of that is already added in the dependencies.gradle just like the project ```android-sdk-v5-as```. and all dependencies were already added follow the ```android-sdk-v5-as``` ```build.gradle(app)``` with ``` compileOnly deps.allProvided
    implementation deps.all ```
[code]

[2022-09-05 01:57] Needrom commented on #35
what else I should provide If I want this to be solved

[2022-09-05 02:13] DJI-William commented on #35
OK, so you are using our Sample. Very stange it does not happens on our side, what happen if you chang to other Android device such as our remote controller?

[2022-09-05 02:22] Needrom commented on #35
I already try on the other device with android api 31. is the same.
and more over
another question on the sample-all app on my device which not build from the guide arise.
![4c1d7b3cb82018642c5ccbcf1366bdc](https://user-images.githubusercontent.com/12799075/188348714-53a46603-bde0-4fa6-bb66-1c1d9a9cd76c.jpg)

[2022-09-05 02:27] DJI-William commented on #35
That indicates 2 possible reasons:

1. Your appkey is wrong.
2. No internet connection.

I suspect your appkey is wrong, what is the bundle identifier when you apply for the appkey. Please read this article, [Chapter 2 - The Sample](https://sdk-forum.dji.net/hc/en-us/articles/5983558993433-Chapter-2-The-Sample).

[2022-09-05 02:42] Needrom commented on #35
actually I check all of it . the key and bundle id is below.

ManiFest here
I delete the last 4 word in case.
[code]

and the key I register is here.

![企业微信截图_16599495841233](https://user-images.githubusercontent.com/12799075/188350470-38a06f25-201e-4f65-8fce-d205e22b1159.png)

[2022-09-05 02:45] DJI-William commented on #35
Your package name is wrong, you have missed a "com" whch results your whole appkey is wrong. Please read my article carefully.

[2022-09-05 02:45] Needrom commented on #35
sure

[2022-09-05 03:02] Needrom commented on #35
Yeap. workable for now on sample-all app which I thought the package name was the same as the androidManifest.xml but it's not.

[2022-09-05 03:14] DJI-William commented on #35
Its the same as applicationId.

[2022-09-05 03:14] #35 closed, assigned to nobody

[2022-09-05 03:32] #19 closed, assigned to DJI-William

[2022-09-05 03:33] #18 closed, assigned to DJI-William

[2022-09-05 03:33] DJI-William commented on #30
请问问题解决了吗？

[2022-09-05 03:34] DJI-William commented on #31
mapWidget在下半年会排期去集成一些常用的地图，目前优先级不高，你们可以自行集成你们喜欢的地图。

[2022-09-05 03:34] #31 closed, assigned to nobody

[2022-09-05 05:22] Needrom commented on #35
that's not the original I expect.
sorry for not openning another issue.
the original question was the project I build from the turtorial.

and the logcat be like this
###
[code]

the package name in the AndroidManifest.xml Make me a little confuse. But its ok to build with or without the ```com.``` in here. But the bundle ID on the website to be like ‘’‘ com.dji.sampleV5.all ’‘’
[code]

[2022-09-05 08:02] Needrom commented on #35
whether you could reopen this issue. Or should I reissue the problem .Because the real problem is  ``` E/DJIV5_SDKManager@b2abc12: (initNetwork:4) initNetwork error. dji.v5.network.DJINetworkImp  ``` .

[2022-09-05 09:28] DJI-William commented on #35
I am not sure why you encounter this issue. Since your are running the Sample very well but having issues when intergrate the SDK into an empty project. There must be something you have missing but I cannot know it by those logs. You have to debug by yourself now.

[2022-09-05 10:07] Needrom commented on #35
But How could I debug a close source file with the log print inside the sdk. how about this one ``` E/djisdk: dji::sdk::ModuleMediator::GetValue@913: GetValue [ModuleMediator] djisdk call method before init!!! ```
All file I just copy from the guide. And I had allready upload the project.

[https://github.com/Needrom/dji_sdk_application/tree/master](url)

[2022-09-05 11:06] DJI-William commented on #35
What is the pcakge name/bundle identifier of your own project? Can you give me a screenshot?

[2022-09-06 02:24] Needrom commented on #35
maybe it's about android api verison. the new tutorial you publish 4 days ago is working on my colleague phone with API 31 not on my phone with API 29

[2022-09-06 02:27] Needrom commented on #35
maybe it's about android api verison. the new tutorial you publish 4 days ago is working on my colleague phone with API 31 not on my phone with API 29

[2022-09-06 02:28] DJI-William commented on #35
I am pretty sure that the API 29 is supports, we have tried on our RC and its Android 7, it also supports. Since you colleague got it works, you have to check it. But I need to tell you that our MSDK V5 does not support Android API 32.

[2022-09-06 02:31] Needrom commented on #35
yeaa the same version project as I have.

[2022-09-06 11:07] DJI-William commented on #32
这个问题在新版本已经修复，9月底会发布。

[2022-09-06 11:07] #32 closed, assigned to DJI-William

[2022-09-07 07:17] John2397 opened #36 "Is WebRTC implemented?"
Is WebRTC protocol supported on MSDK V5? (As mentioned [here](https://github.com/dji-sdk/Mobile-SDK-Android/issues/1103#issuecomment-1031047802)?)

Is there a documentation on how to start the Web RTC live stream?

[2022-09-07 08:29] DJI-William commented on #36
Yes, please read this article, [Chapter 6: Live Streaming](https://sdk-forum.dji.net/hc/en-us/articles/6663305630105-Chapter-6-Live-Streaming). Also, the webRTC demo is embeded inside this sample.

[2022-09-07 08:29] #36 closed, assigned to nobody

[2022-09-07 12:21] tkocik92 opened #37 "Core System Error with KeyHomeLocationUsingCurrentRemoteControllerLocation"
SDK version: `5.0.0`
Drone: M30
Drone Firmware: `V04.02.0000`

I am attempting to use `FlightControllerKey.KeyHomeLocationUsingCurrentRemoteControllerLocation` to update the return-to-home location. I am implementing it as shown:

[code]

Whenever I call this, whether the drone is on the ground or in the air, I get the following log:
`Return to RC failed: CORE_SYSTEM_ERROR - DJIError{errorCode='CO

[2022-09-08 03:20] DJI-William commented on #37
Most likely your GPS signal is bad or you have set your home location to far. I find out this key is very useless as you still need to input a coordinate to set the home location so there is no difference between this key and KeyHomeLocation. I suggest you call an Android API to retrieve your Android device's coordinate and set by calling KeyHomeLocation rather than this key. It will make the same

[2022-09-08 05:48] The-WindRises commented on #30
原因是之前运行了msdk v4，未卸载然后运行了v5出现的问题

[2022-09-08 06:39] #30 closed, assigned to nobody

[2022-09-08 09:52] dji-dev commented on #30
Agent comment from yating.liao in <a href='https://djisdksupport.zendesk.com/agent/tickets/69844'>Zendesk ticket #69844</a>:<br><br>是同时运行V4和V5出现的问题吗？单独使用V5还存在这类问题吗？
<br><p><em><small>°°°</small></em></p>

[2022-09-13 15:21] tkocik92 opened #38 "MediaManager.getInstance().disable callback does not fire"
SDK Version: `5.0.0`

In utilizing the `MediaManager` class, and following the guide outlined [here](https://developer.dji.com/doc/mobile-sdk-tutorial/en/tutorials/media-file.html#interface-calling-process), I have found that there is no way to tell if the `MediaManager` is enabled or disabled _without tracking outside of the SDK_. This causes problems as calling `MediaManager.getInstance().disabl

[2022-09-14 03:20] DJI-William commented on #38
Indeed, you cannot know your enable or disable is successful or not. And also you cannot know whether your mediaManager is enabled or not. So you have 2 issues now.
1. The disable callback does not return when you have called disable.
2. You need a isEnabled function to tell you whether the mediaManager is enabled or not.

[2022-09-14 11:51] tkocik92 commented on #38
If either of those two issues is resolved, then this issue can be closed. It wouldn't be worth reporting about the second option if the first option is fixed.

[2022-09-14 12:16] MichHighlander opened #39 "LiveStreamManager start stream working but cannot see stream/"
Hello,
I am trying to start stream in my app and after i do startStream() i get a success message but no stream appear on my backend.
When i try this with the sample it does work.
This is my code to start the stream:

 LiveStreamManager.getInstance().addLiveStreamStatusListener(new LiveStreamStatusListener() {
                            @Override
                            public void onLiveStre

[2022-09-14 12:24] MichHighlander opened #40 "Setting the gimbal angle is not working"
Hello,
i am using M30 with SDK v5.0.0
When i try to move the gimbal i get error message "null"
This is my code to set the gimbal by angle:

GimbalAngleRotation gimbalAngleRotation = new GimbalAngleRotation();
                    gimbalAngleRotation.setMode(GimbalAngleRotationMode.ABSOLUTE_ANGLE);
                    gimbalAngleRotation.setPitchIgnored(true);
                    gimbalAngleRotation

[2022-09-14 12:27] MichHighlander opened #41 "Getting the FlightMode of the aircraft."
Hello,
In MSDK v4.16.2 i could get the Aircraft's FlightMode from:
`FlightControllerState .getFlightMode()`
And i would get values like: "ATTI, GPS_ATTI, GO_HOME, Etc.."
I don't see a way now to get the FlightMode like the old SDK.
how do i get that?

[2022-09-14 12:33] MichHighlander commented on #40
Found my issue, i needed to do preformAction instead of setValue

[2022-09-14 12:33] #40 closed, assigned to nobody

[2022-09-15 02:33] DJI-William commented on #38
@tkocik92 Sorry, this is not a bug. Please see the attachement screenshot. The sample hasn't print out for you because you are using the release version of SDK. The LogUtils.d will not print in release version but in debug version of SDK. You can just change the LogUtils.d to native Android Log.d or change to LogUtils.i will work.
![image](https://user-images.githubusercontent.com/77274755/1909921

[2022-09-15 03:27] DJI-William commented on #41
The doc hasn't release the FlightMode  yet, we will release the doc about FlightMode in the next 5.1 version in the end of September.

[2022-09-15 03:27] #41 closed, assigned to DJI-William

[2022-09-15 03:33] DJI-William commented on #39
1. Do you have a video stream display on your page?
2. Are you using a FPVWidget? If yes, you need to change the constructor of its VideoDecoder.
3. Please read this article, [Chapter 6: Live Streaming](https://sdk-forum.dji.net/hc/en-us/articles/6663305630105-Chapter-6-Live-Streaming).

[2022-09-22 07:59] DJI-William commented on #38
We have changed all logutils.d to logutils.i to make sure there is a log generated.

[2022-09-22 07:59] #38 closed, assigned to DJI-William

[2022-09-26 03:30] #39 closed, assigned to DJI-William

[2022-09-26 06:57] zyc50 opened #42 "base_release.kotlin_module: Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.6.0, expected version is 1.4.0."
base_release.kotlin_module: Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.6.0, expected version is 1.4.0.

[2022-09-26 07:10] DJI-William commented on #42
This is an IDE issue, normally I fixed this by clear the cache.
![image](https://user-images.githubusercontent.com/77274755/192214686-802ad0ec-4d35-43f7-9268-9632da7523f3.png)

[2022-09-26 07:28] zyc50 commented on #42
都试过了，重建错误一直这样的错误，资源无法引用，检查gradle.properties、build.gradle文件并无异样。。。。。

/transformed/jetified-aircraft-provided-5.0.0_525.jar!/META-INF/base_release.kotlin_module: Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.6.0, expected version is 1.4.0.
/transformed/jetified-kotlin-android-extensions-runtime-1.6.10.jar!/META-INF/kotlin-android-extensions-runt

[2022-10-01 01:57] kenargo opened #43 "DJIPolyline lost ability to read points?"
Our apps specifically used the ability to read the point's value to calculate center lines and such as points are manipulated.  Will this be returning, or do I need to create abstractions for missing properties needed?

Specifically, just reading point's list

V4:

public interface DJIPolyline {
    void remove();

    void setWidth(float var1);

    float getWidth();

    void setPoints(List<DJIL

[2022-10-03 06:30] DJI-William commented on #43
The DJIPolyline is a class in mapkit jar file. You cannot overritten it. You should use its child class which contains the the setZIndex and the rest of the methods such as MapLibrePolyline. They are the acutally polyline used in the map. Anyway, we will continue working on the mapkit jar file in 5.2 MSDK.

[2022-10-03 17:08] kenargo commented on #43
Technically, I can create an override using encapsulation, but that is not the point.  As V5 is said to be an upgrade from V4.x and required if we want to fly M30s I am finding a significant amount of functionality loss between the versions.  Enough functionality loss that we might be precluded from purchasing and using M30 aircraft for the upcoming 2023 season.  Can you share v5.2 schedule?

[2022-10-04 19:33] kenargo opened #44 "Where is MapWidget?"
The map code is 100% commented out.

[2022-10-06 07:24] DJI-William commented on #44
We will work on mapkit core first and then the mapWidget in 5.2, probs happen in the next sprint.

[2022-10-06 09:51] DJI-William commented on #43
I will talk with the dev team about the mapkit core and make sure this lib is up to date! Any other modules you have found that is is older than v4?

[2022-10-06 20:21] kenargo commented on #43
Until the V5 SDK is up to par with 4.16.x I cannot see the new SDK as a valid replacement.  Also missing are large numbers of key values, but that is another issue.

[2022-10-06 20:22] kenargo commented on #44
Until MapWidget is released, and the missing key values re-added I cannot see V5 as a replacement or overly usable.  We will be delaying its use until functionality is on-par with prior SDK.

[2022-10-07 08:12] ccccwb opened #45 "msdkv5 没有MOP吗，要怎么连接OSDK呢"

[2022-10-08 03:00] DJI-William commented on #45
MSDK v5还没设计MOP功能，预计下个版本开始开发，即使开发完成后也只支持PSDK v3，PSDK v3已经和OSDK合并。

[2022-10-10 07:55] DJI-William commented on #42
需要删除所有的.gradle和.idea文件后再清除缓存，重启。

[2022-10-10 07:55] #42 closed, assigned to DJI-William

[2022-10-10 07:57] DJI-William commented on #43
Need to upgrade the mapkit.so.

[2022-10-11 17:21] wooldridgetm opened #46 "Hotpoint Support"
Is there any plan to support [hotpoints](https://developer.dji.com/api-reference/android-api/Components/Missions/DJIHotpointMissionOperator.html) (orbitals)?

Using the v5.1 SDK, there is no mention of hotpoints or orbitals anywhere in the docs or the API.

[2022-10-11 17:36] wooldridgetm opened #47 "Mavic 3 WPML Codes"
For the mavic 3 enterprise and its thermal equivalent, the [documentation](https://developer.dji.com/doc/cloud-api-tutorial/en/specification/dji-wpml/common-element.html) doesn't explicitly specify the required information for the `<wpml:droneInfo>` and `<wpml:payloadInfo>` elements.

Do the mavic 3 enterprise and mavic 3 thermal support flight planning? If so, then what values should be set for t

[2022-10-11 18:27] sjhunn opened #48 "V5.1 Unable to use Surface in VideoDecoder"
When trying to instantiate a VideoDecoder with a Surface, I get this exception:

10-11 12:35:49.240 29184 29434 D ACRA    : starting video channel: PRIMARY_STREAM_CHANNEL PORTSIDE SURFACE_MODE
10-11 12:35:49.241 29184 29434 D ACRA    : outputSurface: Surface(name=null)/@0xeb7425b
--------- beginning of crash
10-11 12:35:49.705 29184 29375 D ACRA    : primary channel state changed: from CLOSE to ON

[2022-10-12 03:24] DJI-William commented on #46
We have no plan to support this function in 5.1 as there are no many people using this function in 4.16.2 version based on our investigation.

[2022-10-12 03:24] #46 closed, assigned to nobody

[2022-10-12 03:35] DJI-William commented on #48
Please read this article, [What kind of outputSurface does the VideoDecoder support?](https://sdk-forum.dji.net/hc/en-us/articles/11408372476569-What-kind-of-outputSurface-does-the-VideoDecoder-support-)

[2022-10-12 03:35] #48 closed, assigned to DJI-William

[2022-10-12 09:00] dji-dev commented on #47
Agent comment from sean in <a href='https://djisdksupport.zendesk.com/agent/tickets/71786'>Zendesk ticket #71786</a>:<br><br>Yes，Mavic 3E or Mavic 3T support wpml.
This is Mavic 3E.
 ![](https://djisdksupport.zendesk.com/attachments/token/j3lUNGtfBgy1BcZOZn5Ik913M/?name=image.png)
This is Mavic 3T.
 ![](https://djisdksupport.zendesk.com/attachments/token/4KHLNbGeZkKGJVLaZDgQdSGd6/?name=image.png)<

[2022-10-12 20:11] sjhunn commented on #48
Thanks William. We were able to use a Surface in v5.0.0. Something changed in v5.1.0 and I need to know if the removal of using a Surface is a permanent change? Or just a bug?

[2022-10-13 02:40] DJI-William commented on #48
In v5.1, we banned the TextureView and SurfaceTexture, it is the design.

[2022-10-17 06:56] DJI-William commented on #47
We need to update the KMZ documentation and write an article in the knowledge base about this.

[2022-10-17 06:56] #47 closed, assigned to DJI-William

[2022-10-17 06:58] #37 closed, assigned to DJI-William

[2022-10-17 06:59] DJI-William commented on #8
5.1版本已经解决。

[2022-10-17 06:59] #8 closed, assigned to DanLongChen

[2022-10-18 10:06] MichHighlander opened #49 "VideoDecoder cannot accept TextureView"
In V5.0.0 i used TextureView to create the VideoDecoder and it worked, but after i upgraded to 5.1.0 i got an exeption:
`java.lang.IllegalArgumentException: The outputSurface must be a object of Surface, SurfaceHolder, SurfaceTexture, SurfaceView`
But i am using the SurfaceTexture of the SurfaceView.

[2022-10-18 17:00] sjhunn opened #50 "v5.1.0 VideoChannel On/Close/On Initialization"
When attaching a state change listener to a VideoChannel after SDK initialization/registration, the state of the channel flips between ON and CLOSE one or more times. I assume this is just the initialization process of the channel.

Is there any way to tell when the video channel is done initializing and is ready to use?

Is there something in v5 like the ComponentListener in v4?

Or do I just nee

[2022-10-19 03:59] DJI-William commented on #49
Please read this article, [What kind of outputSurface does the VideoDecoder support?](https://sdk-forum.dji.net/hc/en-us/articles/11408372476569-What-kind-of-outputSurface-does-the-VideoDecoder-support-)

[2022-10-19 03:59] #49 closed, assigned to DJI-William

[2022-10-19 04:13] DJI-William commented on #50
Are you using our Sample or you start from scratch? You may know for multi video stream aircraft, you need to set the cameraVideoStreamSource to define which video stream is the primary source and which one is the secondary. Initially, the videoChannel is on, and in our Sample, we do the cameraVideoStreamSource set automatically for you so the videoChannel will change to cloase while setting it. L

[2022-10-19 19:34] #50 closed, assigned to DJI-William

[2022-11-04 18:34] gg-deploy-dd opened #51 "M30 drone is not recognised with 5.1 sdk"
M30 drone is not recognised with 5.1 sdk

[2022-11-07 06:14] DJI-William commented on #51
It shouldn't be, have you forcely stopped the DJI Pilot 2?

[2022-11-08 18:37] tkocik92 opened #52 "Default Units for Obstacle Avoidance"
SDK Version: `5.1`

I am currently integrating obstacle avoidance reporting and would like clarification on the unit of the values being returned. Normally, any distance value is returned in meters. However, I have previously integrated `FlightControllerKey.KeyUltrasonicHeight` which explicitly returns it's values in decimeters (10 decimeters = 1 meter for those unaware). The keys I'm specifically

[2022-11-09 03:34] DJI-William commented on #52
The FlightAssistantKey is encapsulated into Class IPerceptionManager because different aircraft uses different keys in obstacle avoidance. So we choose not to open the FlightAssistantKey. You can check perceptionManager.addObstacleDataListener and in the ruturn call ObstacleData.getUpwardObstacleDistance. Different aircraft may use different sensors so I cannot ensure the readings are in dm or m.

[2022-11-10 13:36] MichHighlander opened #53 "Getting Bitmap from FPVWidget"
Hello,
In MSDK v4 i could get a bitmap from the codec manager of the FPVWidget.
How can i do that with MSDK v5?

[2022-11-11 03:19] DJI-William commented on #53
The FPVWidget is open sourced in MSDK v5. Since it is using SurfaceView, you may receive the video data and save it to bitmap by yourself. I am afraid there is no getBitmap method in the SurfaceView.

[2022-11-13 10:43] zofnk opened #54 "MRTCController Couldn't load lib"
我按文档要求一步步集成了sdk
但是在推流RTMP和AGORA的时候发现失败
[code]
然后以为是surfaceview的问题，并单独创建了一个，也集成了
[code]
但是还是失败，日志中
[code]

这两个```code = 420478983```无从查起，不知道是啥意思

然后发现在apk中是有so库的，但是在```/data/app/packagename-1/lib```下并没有写入任何的so库文件，是不是因此导致```Couldn't load lib```？
在sample中是可以的，并且新开了一个项目（有且只有依赖了库，项目逻辑代码只有如下，也并没有surface的创建，虽然知道并不会成功，只是想看看是否能完成so的加载），居然也可以。

TestProject：
[code]

这个问题倒腾了两三天了，希望务必能帮忙看一下！

[2022-11-14 08:54] DJI-William commented on #54
1. 你现在确认同样的Agora Settings在Sample上是OK的对吧。
2. MSDK v5.1的直播库是直接运行.so的，这些添加了嘛？
        doNotStrip "*/*/libmrtc_28181.so"
        doNotStrip "*/*/libmrtc_agora.so"
        doNotStrip "*/*/libmrtc_core.so"
        doNotStrip "*/*/libmrtc_core_jni.so"
        doNotStrip "*/*/libmrtc_data.so"
        doNotStrip "*/*/libmrtc_log.so"
        doNotStrip "*/*/libmrtc_onvif.so"
        doNotStrip "*/*/libmrtc_

[2022-11-14 09:13] zofnk commented on #54
有添加，是有带*号``` doNotStrip "*/*/libmrtc_28181.so" ```

[2022-11-14 11:05] DJI-William commented on #54
你在当前页面是不是没有显示视频流？我暂时看不出问题在哪。

[2022-11-14 17:54] xakermonkey opened #55 "No camera image."
Hello. I'm running the app out of the box as it is and I can't get an image from the drone (the api key is of course installed). The registration of the application is successful, all indicators are read from the drone, but there is no image. I also tried to build from SDK 5.0, but the application crashes there immediately after registration, nothing can be done. Please tell me what I should pay a

[2022-11-15 02:55] zofnk commented on #54
不是，是设备的安装目录下连so都没有

[2022-11-15 03:05] DJI-William commented on #55
Are you using the Mavic 3 or Mavic 3 Enterprise series? MSDK v5 currently does not support Mavic 3.

[2022-11-15 04:05] DJI-William commented on #54
说明你引入so的方法有误，能把你的build.gradle文件发过来吗？

[2022-11-15 04:38] zofnk commented on #54
app module -->
[code]

project-->
[code]

uxsdk module -->
[code]

[2022-11-15 05:03] xakermonkey commented on #55
Is this Mavic 3 or Mavic 3 Enterprise?
What sdk do i need to use?

![B4FF833E-F3A7-4683-BCFC-4DBA5EB60E0A](https://user-images.githubusercontent.com/78655754/201830545-36dabc8c-5236-4ecf-b247-9b4389624123.jpeg)

[2022-11-15 06:44] DJI-William commented on #54
我不确定 doNotStrip "*/*/libmrtc_agora.so"和doNotStrip "//libmrtc_agora.so"是否会造成区别，我暂时也找不到原因在哪。因为你能够在Sample上直播至少说明你的Agora设置是没问题的。我已经提单给研发将直播的直播错误码在细化一下。code = 420478983的意思是初始化失败，找不到so库。

[2022-11-15 06:47] DJI-William commented on #55
This seems like Mavic 3 not a Mavic 3 Enterprise, there is no SDK for it.

[2022-11-15 06:57] xakermonkey commented on #55
Yes, there are no inscriptions of the Enterprise. However, everything is read from the drone except for the image. Can this be fixed somehow? It is very strange that Mavic 3 is not supported. When will there be official support?

[2022-11-15 06:59] DJI-William commented on #55
We don't have plans to support Mavic 3 now so some of the functiosn may work and some of them may not work.

[2022-11-15 07:11] xakermonkey commented on #55
Wow, very strange.. Tell me how to make support? Where to look?

[2022-11-15 09:11] DJI-William commented on #55
The support can only be done by our dev team but currently we don't have plans to support Mavic 3.

[2022-11-15 09:11] #55 closed, assigned to DJI-William

[2022-11-17 03:59] DJI-William commented on #45
@ccccwb MOP功能正式开放要等到御3行业版系列得MOP做好后同一开放，目前仅支持M300RTK的MOP，没有API文档，需要调用内部类，我已经写了一个知识库文章，用法基本和v4的MOP一样，你只要有v4的基础马上就明白了。请阅读这篇文章，[第十八章：第三方负载](https://sdk-forum.dji.net/hc/zh-cn/articles/9882836266649-%E7%AC%AC%E5%8D%81%E5%85%AB%E7%AB%A0-%E7%AC%AC%E4%B8%89%E6%96%B9%E8%B4%9F%E8%BD%BD)

[2022-11-17 03:59] #45 closed, assigned to DJI-William

[2022-11-18 19:57] tkocik92 opened #56 "WaypointMissionExecuteState stuck in UNKNOWN"
SDK: `5.1` and `5.1.1`
Drone: Mavic 3 Enterprise

I am using the `WaypointMissionManager`. I have implemented both `addWaypointMissionExecuteStateListener` and `addWaylineExecutingInfoListener`. When attempting to utilize the data these callbacks return, they will sometimes never fire even though I am uploading/starting/stopping a waypoint mission. Everytime this happens, the `WaypointMissionExecu

[2022-11-21 04:03] DJI-William commented on #56
A known issue for us is. If you open the DJI Pilot 2 already and open an MSDK app. Even though you forcely stop the DJI Pilot 2, there are many functions are malfunction in MSDK app such as no callback in addWaylineExecutingInfoListener and WaypointMissionExecuteState always stuck in a state. We have already report this bug to the dev team. Make sure you do the following things.
1. Kill every app

[2022-11-21 13:36] tkocik92 commented on #56
Is there a rough idea of when this will be resolved?

~~I followed all of your instructions as followed:~~
~~1. Power on the RC Pro Plus~~
~~2. Disable + Force Stop DJI Pilot 2~~
~~3. Turn on Mavic 3E.~~
~~4. Launch my MSDK app. Log reports `WaypointMissionExecuteState` as `UNKNOWN`.~~
~~5. Uninstall my MSDK app. Re-install. Same log.~~

~~I've tried multiple flows to get the log to report anythin

[2022-11-22 02:42] DJI-William commented on #56
So you tried my steps and the issue is still here? Actually it never comes up when I was testing. What happens if you test in our Sample?

[2022-11-22 06:41] #53 closed, assigned to DJI-William

[2022-11-22 06:41] #51 closed, assigned to DJI-William

[2022-11-22 06:42] DJI-William commented on #15
@Swordce MapKit和MapWidget已经开发好，开源并且合并到Github了。

[2022-11-22 06:42] #15 closed, assigned to DJI-William

[2022-11-22 06:42] DJI-William commented on #44
@kenargo The MapKit and MapWidget were done and uploaded into this Github now.

[2022-11-22 06:42] #44 closed, assigned to DJI-William

[2022-11-22 06:43] DJI-William commented on #43
@kenargo The MapKit and MapWidget were done and uploaded into this Github now.

[2022-11-22 06:43] #43 closed, assigned to DJI-William

[2022-11-22 06:44] #52 closed, assigned to DJI-William

[2022-11-22 13:55] tkocik92 commented on #56
It worked in your sample app. Which led to me re-evaluating what I did wrong and I found something bizarre: my `waypointMissionManager` instance variable was the problem.

I would initialize `waypointMissionManager` as soon as `SDKManagerCallback.onRegisterSuccess` was called (handled elsewhere). It appears that `WaypointMissionManager.getInstance()` does not return the same instance every time. B

[2022-11-23 01:56] DJI-William commented on #56
You need to know that once the onRegisterSuccess, it does not mean all aircraft components are initialised properly. You will find the KeyConnection of each compoents such as Gimbal and Camera turns from null to true in a short period of time. In our DJI Pilot 2 and our Sample, you will find the waypointMission is a seperate activity to the register activity. Since they are in different pages, it

[2022-11-23 13:33] tkocik92 commented on #56
`WaypointMissionManager.getInstance()` never returned null for me if when called in `SDKManagerCallback.onRegisterSuccess` so unfortunately I can't use that.

Occasionally, the waypoint mission state gets stuck in `UNKNOWN` before or after a successful waypoint mission. I don't have reproduction steps, but the only solution is to power-cycle the remote controller. If I ever figure out reproduction

[2022-11-24 02:55] DJI-William commented on #56
We will investigate further and try to solve this issue in 2 weeks. There will be a 5.2.0 version released in 2 weeks.